.floatingMenuContainer {
  pointer-events: auto;
  margin: auto;
  display: flex;
  gap: calc(var(--MenuHeight) * 0.25);
  cursor: pointer;
}

.menuItemContainer {
  display: flex;
}

.button {
  all: unset;
  height: var(--MenuHeight);
  width: var(--MenuHeight);
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--MenuHeight) 0 0 0 0 0;
  align-items: center;
  border-radius: calc(var(--MenuHeight) / 5);
  background-color: white;
  box-shadow: 0 0 0 2px var(--DefaultGreen);
  cursor: pointer;
  transition: width 0.25s, box-shadow 0.15s;
}

.button:focus-within,
.button:hover {
  box-shadow: 0 0 0 3px var(--FocusGreen);
}
