.menuContainer {
  display: flex;
  margin-inline: auto;
  margin-block: 1rem;
  gap: 1rem;
}

.button {
  background-color: red;
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  transition: width 0.25s;
}

.hoveredButton {
  background-color: blue;
  width: 8rem;
}
