---
---

<div class="bookmarkButtonContainer">
  <div tabindex="0" id="bookmarkButton">
    <div id="bookmarkButtonLogo"></div>
  </div>
</div>

<style>
  .bookmarkButtonContainer {
    pointer-events: auto;
    grid-row: 2;
  }

  #bookmarkButton {
    background-color: white;
    height: var(--MenuHeight);
    aspect-ratio: 1/1;
    border-radius: calc(var(--MenuHeight) / 5);
    cursor: pointer;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0px 5px var(--ShadowGreen));
  }

  #bookmarkButton:focus-within {
    box-shadow: 0 0 0 2px var(--ShadowGreen);
  }

  #bookmarkButtonLogo {
    height: 75%;
    aspect-ratio: 1/1;
    background-image: url("../../logos/bookmarksIcon.svg");
    margin: auto;
  }
</style>
