---
---

<div class="bookmarkBarContainer">
  <div id="bookmarkBar">
    <div id="bookmarkBarLogo"></div>
    <div tabindex="0" id="bookmarkDropdown">Bookmarks</div>
    <div id="bookmarkCloseButton">
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<style>
  .bookmarkBarContainer {
    pointer-events: auto;
    grid-area: c;
  }

  #bookmarkBar {
    all: unset;
    overflow: hidden;
    background-color: white;
    /* filter: drop-shadow(0px 0px 5px var(--ShadowGreen)); */
    box-shadow: 0 0 0 2px var(--DefaultGreen);
    height: var(--MenuHeight);
    min-width: var(--MenuHeight);
    width: var(--MenuHeight);
    border-radius: calc(var(--MenuHeight) / 5);
    cursor: pointer;
    transition: width 0.25s;
    display: grid;
    grid-template-columns: var(--MenuHeight) 0;
    grid-template-rows: var(--MenuHeight);
    place-items: center;
  }

  #bookmarkBar:focus-within {
    box-shadow: 0 0 0 2px var(--FocusGreen);
  }

  #bookmarkBarLogo {
    height: 75%;
    aspect-ratio: 1/1;
    background-image: url("../../logos/bookmarksIcon.svg");
    margin: auto;
    grid-column: 1;
  }

  #bookmarkDropdown {
    all: unset;
    font-family: var(--HeadingFont);
    font-size: calc(var(--MenuHeight) / 2);
    white-space: nowrap;
    width: auto;
    transition: width 0.25s;
    padding-left: 2px;
    grid-column: 2;
    visibility: hidden;
  }

  #bookmarkCloseButton {
    all: unset;
    display: none;
    height: 80%;
    aspect-ratio: 1/1;
    place-items: center;
    grid-column: 3;
  }

  #bookmarkCloseButton > * {
    width: 70%;
    height: 10%;
    background-color: lightgrey;
    grid-row: 1;
    grid-column: 1;
    align-items: center;
  }

  #bookmarkCloseButton > :nth-child(1) {
    transform: rotate(45deg);
  }
  #bookmarkCloseButton > :nth-child(2) {
    transform: rotate(-45deg);
  }
</style>
