---
---

<div class="bookmarkBarContainer">
  <div tabindex="0" id="bookmarkBar">
    <div id="bookmarkBarLogo"></div>
    <div id="bookmarkDropdown">Bookmarks</div>
  </div>
</div>

<style>
  .bookmarkBarContainer {
    pointer-events: auto;
    grid-area: d;
  }

  #bookmarkBar {
    all: unset;
    overflow: hidden;
    background-color: white;
    filter: drop-shadow(0px 0px 5px var(--ShadowGreen));
    height: var(--MenuHeight);
    min-width: var(--MenuHeight);
    width: var(--MenuHeight);
    border-radius: calc(var(--MenuHeight) / 5);
    cursor: pointer;
    transition: width 0.25s;
    display: grid;
    grid-template-columns: var(--MenuHeight) 0;
    grid-template-rows: var(--MenuHeight);
    place-items: center;
  }

  #bookmarkBar:focus-within {
    box-shadow: 0 0 0 2px var(--ShadowGreen);
  }

  #bookmarkBarLogo {
    height: 75%;
    aspect-ratio: 1/1;
    background-image: url("../../logos/bookmarksIcon.svg");
    margin: auto;
    grid-column: 1;
  }

  #bookmarkDropdown{
    display: none;
    font-family: var(--HeadingFont);
    font-size: calc(var(--MenuHeight) / 2);
    white-space: nowrap;
    width: auto;
    transition: width 0.25s;
    padding-left: 2px;
    grid-column: 2;

  }
</style>
