---
---

<div class="bookmarkBarContainer">
  <div id="bookmarkBar">
    <div id="bookmarkBarLogo"></div>
    <div tabindex="0" id="bookmarkDropdown">Bookmarks</div>
    <div id="bookmarkCloseButton">
      <div></div>
      <div></div>
    </div>
  </div>
  <ul id="bookmarkListContainer">
    <div class="bookmarkItem">
      <div class="bookmarkItemImage"></div><div class="bookmarkItemTitle">
        Example Item
      </div>
    </div>
    <div class="bookmarkItem">
      <div class="bookmarkItemImage"></div><div class="bookmarkItemTitle">
        Example Item 2
      </div>
    </div>
    <div class="bookmarkItem">
      <div class="bookmarkItemImage"></div><div class="bookmarkItemTitle">
        Example Item 2
      </div>
    </div>
  </ul>
</div>

<script>
  const bookmarkList = document.getElementById(
    "bookmarkListContainer"
  ) as HTMLDivElement;

  //Bookmarks Button
  const bookmarkBar = document.getElementById("bookmarkBar") as HTMLDivElement;
  const bookmarkDropdown = document.getElementById(
    "bookmarkDropdown"
  ) as HTMLDivElement;
  const bookmarkCloseButton = document.getElementById(
    "bookmarkCloseButton"
  ) as HTMLDivElement;

  bookmarkBar.addEventListener("focusin", () => {
    bookmarkList.style.display = "block";
    bookmarkList.style.height = "20vh";
  });

  bookmarkBar.addEventListener("focusout", () => {
    bookmarkList.style.display = "none";
  });
</script>

<style>
  #bookmarkListContainer {
    all: unset;
    display: none;
    width: calc(100% - (var(--MenuHeight) / 2.5));
    z-index: -1;
    height: 0;
    max-height: 20vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    transform: translateX(calc(var(--MenuHeight) / -5));
    clip-path: inset(
      0% round 0 0 calc(var(--MenuHeight) / 4) calc(var(--MenuHeight) / 4)
    );
    transition: height 0.5s;
  }

  .bookmarkItem {
    height: calc(var(--MenuHeight) * 1);
    background-color: white;
    display: flex;
    align-items: center;
  }

  .bookmarkItemImage {
    height: 80%;
    aspect-ratio: 1/1;
    background-color: red;
    background-image: url("https://cards.scryfall.io/art_crop/front/7/f/7f8c9ac8-0741-4261-b43b-d745839e11f5.jpg?1562925071");
    background-size: cover;
    background-size: 200%;
    background-position: center;
    margin-inline: calc(var(--MenuHeight) / 6);
    border-radius: calc(var(--MenuHeight) / 7);
  }

  .bookmarkItemTitle {
    font-family: var(--SubHeadingFont);
    color: var(--FocusGreen);
  }
  .bookmarkBarContainer {
    pointer-events: auto;
    grid-area: c;
    position: relative;
  }

  #bookmarkBar {
    all: unset;
    overflow: hidden;
    background-color: white;
    /* filter: drop-shadow(0px 0px 5px var(--ShadowGreen)); */
    box-shadow: 0 0 0 2px var(--DefaultGreen);
    height: var(--MenuHeight);
    min-width: var(--MenuHeight);
    width: var(--MenuHeight);
    border-radius: calc(var(--MenuHeight) / 5);
    cursor: pointer;
    transition: width 0.25s;
    display: grid;
    grid-template-columns: var(--MenuHeight) 0;
    grid-template-rows: var(--MenuHeight);
    place-items: center;
  }

  #bookmarkBar:focus-within {
    box-shadow: 0 0 0 2px var(--FocusGreen);
  }

  #bookmarkBarLogo {
    height: 75%;
    aspect-ratio: 1/1;
    background-image: url("../../logos/bookmarksIcon.svg");
    margin: auto;
    grid-column: 1;
  }

  #bookmarkDropdown {
    all: unset;
    font-family: var(--HeadingFont);
    font-size: calc(var(--MenuHeight) / 2);
    white-space: nowrap;
    width: auto;
    transition: width 0.25s;
    padding-left: 2px;
    grid-column: 2;
    visibility: hidden;
  }

  #bookmarkCloseButton {
    all: unset;
    display: none;
    height: 80%;
    aspect-ratio: 1/1;
    place-items: center;
    grid-column: 3;
  }

  #bookmarkCloseButton > * {
    width: 70%;
    height: 10%;
    background-color: lightgrey;
    grid-row: 1;
    grid-column: 1;
    align-items: center;
  }

  #bookmarkCloseButton > :nth-child(1) {
    transform: rotate(45deg);
  }
  #bookmarkCloseButton > :nth-child(2) {
    transform: rotate(-45deg);
  }
</style>
