---
import HomeButton from "./homeButton.astro";
import BookmarkBar from "./BookmarkBar.astro";
import SearchBar from "./SearchBar.astro";
import AccountButton from "./AccountButton.astro";
---

<div id="menu">
  <HomeButton />
  <SearchBar />
  <BookmarkBar />
  <AccountButton />
</div>

<style>
  #menu {
    margin: auto;
    display: flex;
    gap: calc(var(--MenuHeight) / 4);
    background-color: rgba(226, 248, 231, 0.5);
    padding: calc(var(--MenuHeight) / 4);
    border-radius: calc(var(--MenuHeight) / 3);
    z-index: -1;
  }

  @media screen and (max-width: 480px) {
    #menu {
      display: flex;
    }
  }
</style>

<script>
  import "../../../scripts/ui/headerMenuGeneral";
</script>
