---
import HomeButton from "./homeButton.astro";
import BookmarkBar from "./BookmarkBar.astro";
import SearchBar from "./SearchBar.astro";
import AccountButton from "./AccountButton.astro";
---

<div id="menu">
  <HomeButton />
  <SearchBar />
  <BookmarkBar />
  <AccountButton />
</div>

<style>
  #menu {
    margin: auto;
    display: flex;
    gap: calc(var(--MenuHeight) / 4);
  }

  @media screen and (max-width: 480px) {
    #menu {
      display: grid;
      /* margin-left: calc(var(--MenuHeight) / 4);
      margin-top: calc(var(--MenuHeight) / 4); */
      grid-template-areas: "a a a" "b c d";
    }
  }
</style>

<script>
  //Name elements & pull values

  //Menu Grid
  const menu = document.getElementById("menu") as HTMLDivElement;

  //Home Button
  const homeButton = document.getElementById("homeButton") as HTMLDivElement;
  const homeTitle = document.getElementById(
    "homeButtonTitle"
  ) as HTMLDivElement;
  const homeTitleWidth = window.getComputedStyle(homeTitle).width;
  //Search Bar
  const searchBar = document.getElementById("searchBar") as HTMLDivElement;
  const searchBarInput = document.getElementById(
    "searchBarInput"
  ) as HTMLInputElement;
  const searchCloseButton = document.getElementById(
    "searchCloseButton"
  ) as HTMLDivElement;
  //Bookmarks Button
  const bookmarkBar = document.getElementById("bookmarkBar") as HTMLDivElement;
  const bookmarkDropdown = document.getElementById(
    "bookmarkDropdown"
  ) as HTMLDivElement;
  const bookmarkCloseButton = document.getElementById(
    "bookmarkCloseButton"
  ) as HTMLDivElement;

  //Define element logic states
  let homeButtonCollapsed = false;
  let searchBarClicked = false;
  let searchBarCollapsed = true;
  let bookmarkBarClicked = false;
  let bookmarkBarCollapsed = true;
  let searchCloseHover = false;
  let bookmarkCloseHover = false;

  //Define hover listeners
  searchCloseButton.addEventListener("mouseenter", () => {
    searchCloseHover = true;
  });
  searchCloseButton.addEventListener("mouseleave", () => {
    searchCloseHover = false;
  });
  bookmarkCloseButton.addEventListener("mouseenter", () => {
    bookmarkCloseHover = true;
  });
  bookmarkCloseButton.addEventListener("mouseleave", () => {
    bookmarkCloseHover = false;
  });

  //Create style states
  function vsHomeButtonOpen() {
    //Styles
    homeButton.style.width = `calc((var(--MenuHeight) * 1.2) + ${homeTitleWidth}`;
    homeButton.style.gridTemplateColumns = "var(--MenuHeight) 0";
    homeTitle.style.display = "block";
    homeTitle.style.width = "100%";
    //Logic
    searchBarClicked = false;
    bookmarkBarClicked = false;
  }

  function vsHomeButtonCollapsed() {
    //Styles
    homeButton.style.width = "var(--MenuHeight)";
    homeButton.style.gridTemplateColumns = "var(--MenuHeight) 0";
    homeTitle.style.display = "none";
    homeTitle.style.width = "0";
    //Logic
  }

  function vsSearchBarCollapsed() {
    //Styles
    searchBar.style.width = "var(--MenuHeight)";
    searchBar.style.gridTemplateColumns = "var(--MenuHeight) 0 0";
    searchBarInput.style.cursor = "text";
    searchCloseButton.style.display = "none";
    //Logic
    searchBarClicked = false;
  }

  function vsSearchBarClicked() {
    //Styles
    searchBar.style.width =
      "calc(var(--MenuHeight) * 2.2 + var(--SearchBarWidth))";
    searchBar.style.gridTemplateColumns =
      "var(--MenuHeight) 1fr var(--MenuHeight)";
    searchBarInput.style.cursor = "text";
    searchCloseButton.style.display = "grid";
    //Logic
    searchBarClicked = true;
    bookmarkBarClicked = false;
    vsBookmarkBarCollapsed();
    vsHomeButtonCollapsed();
  }

  function vsBookmarkBarCollapsed() {
    //Styles
    bookmarkBar.style.width = "var(--MenuHeight)";
    bookmarkBar.style.gridTemplateColumns = "var(--MenuHeight) 0 0";
    bookmarkDropdown.style.display = "none";
    bookmarkDropdown.style.width = "0";
    bookmarkCloseButton.style.display = "none";
    //Logic
    bookmarkBarClicked = false;
  }

  function vsBookmarkBarClicked() {
    //Styles
    bookmarkBar.style.width =
      "calc((var(--MenuHeight) * 2) + var(--SearchBarWidth))";
    bookmarkBar.style.gridTemplateColumns =
      "var(--MenuHeight) 1fr var(--MenuHeight)";
    bookmarkDropdown.style.display = "block";
    bookmarkDropdown.style.width = "100%";
    bookmarkCloseButton.style.display = "grid";
    //Logic
    searchBarClicked = false;
    bookmarkBarClicked = true;
    vsHomeButtonCollapsed();
    vsSearchBarCollapsed();
  }

  //Establish base states
  if (window.scrollY === 0) {
    vsHomeButtonOpen();
    vsSearchBarCollapsed();
    vsBookmarkBarCollapsed();
  } else {
    vsHomeButtonCollapsed();
    vsSearchBarCollapsed();
    vsBookmarkBarCollapsed();
  }

  //Event listeners
  //SCROLL
  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      vsHomeButtonCollapsed();
      vsSearchBarCollapsed();
      vsBookmarkBarCollapsed();
    } else {
      vsHomeButtonOpen();
      vsSearchBarCollapsed();
      vsBookmarkBarCollapsed();
    }
  });
  //SEARCHBAR
  searchBar.addEventListener("focusin", () => {
    if (searchBarClicked === false) {
      vsSearchBarClicked();
    }
  });

  searchBar.addEventListener("click", () => {
    if (searchBarClicked === false) {
      vsSearchBarClicked();
      searchBarInput.focus();
    }
    if (searchCloseHover === true) {
      if (window.scrollY > 0) {
        vsHomeButtonCollapsed();
        vsSearchBarCollapsed();
      } else {
        vsHomeButtonOpen();
        vsSearchBarCollapsed();
      }
    }
  });

  searchBarInput.addEventListener("blur", () => {
    if (window.scrollY > 0) {
      vsSearchBarCollapsed();
    } else {
      vsHomeButtonOpen();
      vsSearchBarCollapsed();
    }
  });

  //BOOKMARK BAR
  bookmarkBar.addEventListener("focusin", () => {
    if (bookmarkBarClicked === false) {
      vsBookmarkBarClicked();
    }
  });

  bookmarkBar.addEventListener("blur", () => {
    if (window.scrollY > 0) {
      vsBookmarkBarCollapsed();
    } else {
      vsHomeButtonOpen();
      vsBookmarkBarCollapsed();
    }
  });

  bookmarkBar.addEventListener("mousedown", () => {
    if (bookmarkBarClicked === false) {
      vsBookmarkBarClicked();
    }
    if (bookmarkCloseHover === true) {
      if (window.scrollY > 0) {
        vsHomeButtonCollapsed();
        vsSearchBarCollapsed();
        vsBookmarkBarCollapsed();
      } else {
        vsHomeButtonOpen();
        vsSearchBarCollapsed();
        vsBookmarkBarCollapsed();
      }
    }
  });
</script>
