---
---

<div class="searchBarContainer">
  <div id="searchBar">
    <div id="searchBarLogo"></div>
    <input
      tabindex="0"
      id="searchBarInput"
      value="Start Searching"
      type="text"
    />
    <div id="searchCloseButton">
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<style>
  .searchBarContainer {
    pointer-events: auto;
    display: flex;
    grid-area: b;
  }

  #searchBar {
    all: unset;
    overflow: hidden;
    background-color: white;
    filter: drop-shadow(0px 0px 5px var(--ShadowGreen));
    height: var(--MenuHeight);
    min-width: var(--MenuHeight);
    border-radius: calc(var(--MenuHeight) / 5);
    cursor: pointer;
    transition: width 0.25s;
    display: grid;
    grid-template-columns: var(--MenuHeight) 0 1fr 0;
    grid-template-rows: var(--MenuHeight);
    place-items: center;
  }

  #searchBar:focus-within {
    box-shadow: 0 0 0 2px var(--FocusGreen);
  }

  #searchBarLogo {
    height: 70%;
    aspect-ratio: 1/1;
    background-image: url("../../logos/searchIcon.svg");
    grid-column: 1;
  }

  input {
    all: unset;
    width: 100%;
    transition: width 0.25s;
    grid-column: 2;
    font-size: calc(var(--MenuHeight) * 0.4);
    font-family: var(--SubHeadingFont);
    color: grey;
  }

  #searchCloseButton {
    all: unset;
    display: none;
    height: 80%;
    aspect-ratio: 1/1;
    place-items: center;
    grid-column: 3;
  }

  #searchCloseButton > * {
    width: 70%;
    height: 10%;
    background-color: lightgrey;
    grid-row: 1;
    grid-column: 1;
    align-items: center;
  }

  #searchCloseButton > :nth-child(1) {
    transform: rotate(45deg);
  }
  #searchCloseButton > :nth-child(2) {
    transform: rotate(-45deg);
  }
</style>
