---
import "../../styles/zaGlobal.css";
---

<header>
  <div class="headerBar">
    <div class="bookmarksButtonContainer">
      <a class="bookmarksIcon"></a>
      <a class="bookmarksText">Bookmarks</a>
    </div>
    <a href="/" class="logo"></a>
    <div class="accountButtonContainer">
      <a href="/Account" class="accountIcon"></a>
      <a href="/Account" class="accountText">My Account</a>
    </div>
  </div>
</header>