* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

/*SITEWIDE VALUES*/
:root {
  /*Colors*/
  --ZAGreen1: hsl(123, 30.7%, 54.7%);
  --ZAGreen2: hsl(128, 43.9%, 38.4%);
  --ZAGreen3: hsl(124, 32.9%, 33.3%);
  --ZAGreen4: hsl(120, 100%, 7.3%);
  --BGColor: hsl(124, 10%, 20%);

  /*Sizes*/
  --MagicCardSize: 12rem;
  --NavCardSize: 15rem;
  --HeaderHeight: 7rem;
  --FooterHeight: 7rem;
  /*Gaps*/
  --LargeGap: 4rem;
  --SmallGap: 2rem;
  /*Breakpoint Variables*/
  --DesktopOnly: block;
  --LaptopPlus: block;
  --LaptopOnly: block;
  --LaptopMinus: block;
  --MobileOnly: block;
  --DesktopOnlyGrid: grid;
  --LaptopPlusGrid: grid;
  --LaptopOnlyGrid: grid;
  --LaptopMinusGrid: grid;
  --MobileOnlyGrid: grid;
  --DesktopOnlyFlex: flex;
  --LaptopPlusFlex: flex;
  --LaptopOnlyFlex: flex;
  --LaptopMinusFlex: flex;
  --MobileOnlyFlex: flex;

  /*Global Styling*/
  background: var(--BGColor);
}

/*CUSTOM FONTS*/

@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta-Regular.ttf");
}

@font-face {
  font-family: "Satisfy";
  src: url("../fonts/Satisfy-Regular.ttf");
}

/*BREAKPOINT - Desktops - Plus*/
@media screen and (min-width: 1025px) {
  :root {
    --DesktopOnly: block;
    --LaptopPlus: block;
    --LaptopOnly: none;
    --LaptopMinus: none;
    --MobileOnly: none;
    --DesktopOnlyGrid: grid;
    --LaptopPlusGrid: grid;
    --LaptopOnlyGrid: none;
    --LaptopMinusGrid: none;
    --MobileOnlyGrid: none;
    --DesktopOnlyFlex: flex;
    --LaptopPlusFlex: flex;
    --LaptopOnlyFlex: none;
    --LaptopMinusFlex: none;
    --MobileOnlyFlex: none;
  }

  /*BREAKPOINT - Laptops & Tablets*/
}
@media screen and (max-width: 1024px) and (min-width: 481px) {
  :root {
    --DesktopOnly: none;
    --LaptopPlus: block;
    --LaptopOnly: block;
    --LaptopMinus: block;
    --MobileOnly: none;
    --DesktopOnlyGrid: none;
    --LaptopPlusGrid: grid;
    --LaptopOnlyGrid: grid;
    --LaptopMinusGrid: grid;
    --MobileOnlyGrid: none;
    --DesktopOnlyFlex: none;
    --LaptopPlusFlex: flex;
    --LaptopOnlyFlex: flex;
    --LaptopMinusFlex: flex;
    --MobileOnlyFlex: none;
  }
}

/*BREAKPOINT - Mobile - Minus*/
@media screen and (max-width: 480px) {
  :root {
    --DesktopOnly: none;
    --LaptopPlus: none;
    --LaptopOnly: none;
    --LaptopMinus: block;
    --MobileOnly: block;
    --DesktopOnlyGrid: none;
    --LaptopPlusGrid: none;
    --LaptopOnlyGrid: none;
    --LaptopMinusGrid: grid;
    --MobileOnlyGrid: grid;
    --DesktopOnlyFlex: none;
    --LaptopPlusFlex: none;
    --LaptopOnlyFlex: none;
    --LaptopMinusFlex: flex;
    --MobileOnlyFlex: flex;
  }
}
