---

---

<button ></button>

<style>
  button {
    all: unset;
       background-color: white;
    border-radius: 50%;
    border: solid var(--ZAGreen3);
    text-align: center;
    align-self: center;
    height: calc(var(--HeaderHeight) * 0.38);
    width: calc(var(--HeaderHeight) * 0.38);
    transform: translatey(calc(var(--ButtonLeafHeight) * -0.5));
    margin-right: calc(var(--ButtonLeafHeight) * 0.08);
    cursor: pointer;
  }
</style>
