---
---

<div class="accountButtonContainer">
  <div tabindex="0" id="accountButton">
    <div id="accountButtonLogo"></div>
  </div>
</div>

<style>
  .accountButtonContainer {
    pointer-events: auto;
    grid-row: 3;

  }

  #accountButton {
    background-color: white;
    height: var(--MenuHeight);
    aspect-ratio: 1/1;
    border-radius: calc(var(--MenuHeight) / 5);
    cursor: pointer;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0px 5px var(--ShadowGreen));
  }

     #accountButton:focus-within {
    box-shadow: 0 0 0 2px var(--ShadowGreen);
  }

  #accountButtonLogo {
    height: 60%;
    aspect-ratio: 1/1;
    background-image: url("../../logos/accountIcon.svg");
    margin: auto;
  }
</style>