---
import HeaderMenuT from "../layout/headerMenuT/HeaderMenu";
import HeaderMenu from "./headerMenu/HeaderMenu.astro";
---

<header>
  <div class="headerBar">
    <!-- <HeaderMenu /> -->
    <HeaderMenuT client:visible />
  </div>
</header>

<style>
  .headerBar {
    position: fixed;
    width: 100%;
    height: var(--ContContainUpperMargin);
    z-index: 4;
    pointer-events: none;
    display: flex;
    flex-direction: column;
  }

  .headerBar > * {
    pointer-events: auto;
  }

  .menu {
    margin: auto;
    display: flex;
    gap: calc(var(--MenuHeight) / 4);
  }
</style>
