---

---

<button ></button>

<style>
  button {
    all: unset;
    background-color: white;
    border-radius: 50%;
    border: solid var(--ZAGreen3);
    text-align: center;

    height: calc(var(--HeaderHeight) * 0.48);
    width: calc(var(--HeaderHeight) * 0.48);

    transform: translatey(calc(var(--ButtonLeafHeight) * -0.03));
    margin-right: calc(var(--ButtonLeafHeight) * 0.18);
    cursor: pointer;
  }
</style>
