---
---

<button>Bkmrk</button>

<style>
  button {
    all: unset;
    height: calc(var(--HeaderHeight) * 0.48);
    width: calc(var(--HeaderHeight) * 0.48);
    background-color: white;
    border-radius: 50%;
    border: solid black;
    text-align: center;
    transform: translatey(calc(var(--ButtonLeafHeight) * -0.03));
    margin-right: calc(var(--ButtonLeafHeight) * 0.18);
  }
</style>
