---
import AccountButton from "./AccountButton.astro";
import BookmarksButton from "./BookmarksButton.astro";
import SearchButton from "./SearchButton.astro";
---

<div class="buttonLeafContainer">
  <svg class="buttonLeaf" viewBox="0 0 303.8 451.4">
    <g>
      <g>
        <path
          class="st0"
          d="M303.8,576.2v-1.15C303.8,575.43,303.8,575.82,303.8,576.2L303.8,576.2z"
        ></path>
      </g>
      <g>
        <path
          class="st0"
          d="M376.2,0L376.2,0c193.34,0.39,350,257.7,350,575.05V0H376.2z"></path>
      </g>
    </g>
    <g>
      <path
        class="st0"
        d="M0,0c66,19.4,130.36,71.11,183.6,141S290,331.4,303.8,451.4c0-170.8,0-451.4,0-451.4H0z"
      ></path>
    </g>
  </svg>
  <div class="buttonContainer">
    <SearchButton />
    <BookmarksButton />
    <AccountButton />
  </div>
</div>

<style>
  .buttonLeafContainer {
    display: var(--LaptopPlus);
    position: fixed;
    z-index: 5;
    right: 0;
  }

  .buttonLeaf {
    fill: var(--ZAGreen3);
    height: var(--ButtonLeafHeight);
    filter: drop-shadow(0 0 0.75rem black);
  }

  .buttonContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    display: grid;
    justify-items: right;
    grid-template-rows: var(--HeaderHeight) calc(var(--ButtonLeafHeight) / 2) calc(
        var(--ButtonLeafHeight) / 2
      );
  }
</style>
