---
---

<header>
  <div class="footerBar"></div>
</header>

<style>
  .footerBar {
    height: var(--FooterHeight);
    font-family: JosefinSans, Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, var(--ZAGreen1), var(--ZAGreen2));
    position: relative;
  }
</style>
