---
import HeaderMenu from "./headerMenu/HeaderMenu.astro";
---

<header>
  <div class="headerBar">
    <HeaderMenu />
  </div>
</header>

<style>
  .headerBar {
    position: fixed;
    width: 100%;
    height: calc(var(--MenuHeight) * 2.5);
    z-index: 4;
    pointer-events: none;
    display: flex;
    flex-direction: column;
  }

  .headerBar > * {
    pointer-events: auto;
  }

  .menu {
    margin: auto;
    display: flex;
    gap: calc(var(--MenuHeight) / 4);
  }

  @media screen and (max-width: 480px) {
    .headerBar {
      height: calc(var(--MenuHeight) * 3.5);
    }
  }
</style>
