---
---

<header>
  <div class="headerBar">
    <div class="titleContainer">
      <a href="/" class="logo"></a>
      <a href="/" class="title">Sylvan Archive</a>
    </div>
  </div>
</header>

<style>
  .headerBar {
    height: var(--HeaderHeight);
    font-family: Mukta, Arial, Helvetica, sans-serif;
    background: var(--ZAGreen1);
    display: flex;
  }

  .logo {
    background-image: url("/logos/sylvanArchiveLogo.svg");
    height: 60%;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
  .title {
    display: var(--LaptopPlus);
    color: black;
    font-family: Satisfy, sans-serif;
    font-size: 2rem;
    margin-left: 1rem;
  }
  .titleContainer {
    display: flex;
    align-items: center;
    margin-left: var(--SmallGap);
    min-width: 15rem;
    height: var(--HeaderHeight);
  }
</style>
