---
---

<header>
  <div class="headerBar"></div>
</header>

<style>
  .headerBar {
    height: var(--HeaderHeight);
    font-family: Mukta, Arial, Helvetica, sans-serif;
    background: white;
    display: flex;
  }
</style>
