---
---

<script>
  //Open the search bar while the screen is at the top of the page
  const searchBar = document.getElementById("searchBar") as HTMLInputElement;
  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      //Top of the page
      searchBar.style.width = "100%";
      searchBar.value = "";
      searchBar.style.paddingLeft = "0";
      searchBar.style.cursor = "pointer";
    } else {
      //Anywhere else
      searchBar.style.width = "30vw";
      searchBar.style.color = "lightgrey";
      searchBar.value = "Start Searching";
      searchBar.style.paddingLeft = "30%";
      searchBar.style.cursor = "inherit";
    }
  });
</script>

<div id="headerSearchBarCon">
  <input type="text" value="Start Searching" id="searchBar" />
</div>

<style>
  #headerSearchBarCon {
    width: calc(var(--HeaderHeight) * 0.6);
    height: calc(var(--HeaderHeight) * 0.6);
    margin: auto;
    transform: scalex(-1) translateY(-4px) translateX(1.7rem);
    align-self: center;
  }
  #searchBar {
    all: unset;
    justify-self: right;
    width: 30vw;
    height: 100%;
    border-radius: calc(var(--HeaderHeight) * 0.6);
    background-color: white;
    transition: width 0.5s, color 0.25s;
    transform: scalex(-1);
    border: solid var(--ZAGreen3);
    color: lightgrey;
    font-family: Mukta, arial, sans-serif;
    padding-left: 30%;
  }
</style>
