---
---

<div class="searchBarContainer">
  <div id="searchBar">
    <div id="searchBarLogo"></div>
    <input id="searchBarInput" value="Start Searching" type="text" />
    <button id="closeButton">
      <div></div>
      <div></div>
    </button>
    <div id="searchBarTitle">Sylvan Archive</div>
  </div>
</div>

<script>
  const searchBar = document.getElementById("searchBar") as HTMLDivElement;
  const input = document.getElementById("searchBarInput") as HTMLInputElement;
  const title = document.getElementById("searchBarTitle") as HTMLDivElement;
  const closeButton = document.getElementById("closeButton") as HTMLDivElement;

  let barClicked = false;
  let barScrolled = false;
  let xHovered = false;

  closeButton.addEventListener("mouseenter", () => {
    xHovered = true;
  });
  closeButton.addEventListener("mouseleave", () => {
    xHovered = false;
  });

  function visStateBarScrolled() {
    searchBar.style.width = "calc(var(--MenuHeight) * 1.15)";
    // input.style.display = "none";
    input.style.width = "0";
    title.style.transition = "width 0.25s";
    title.style.width = "0";
    closeButton.style.display = "none";
    barClicked = false;
    barScrolled = true;
  }

  function visStateBar() {
    searchBar.style.width = "calc(var(--MenuHeight) * 4.3)";
    // input.style.display = "none";
    input.style.width = "0";
    title.style.transition = "width 0.25s";
    title.style.width = "calc(var(--MenuHeight) * 3)";
    closeButton.style.display = "none";
    barClicked = false;
  }

  function visStateBarClicked() {
    searchBar.style.width =
      "calc(var(--MenuHeight) * 2.2 + var(--SearchBarWidth))";
    input.style.width = "var(--SearchBarWidth)";
    // input.style.display = "block";
    input.style.cursor = "text";
    title.style.transition = "width 0s";
    title.style.width = "0";
    closeButton.style.display = "grid";
    barClicked = true;
  }

  visStateBar();

  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      visStateBarScrolled();
    } else {
      visStateBar();
      barScrolled = false;
    }
  });

  searchBar.addEventListener("click", () => {
    if (barClicked === false) {
      visStateBarClicked();
    } else if (xHovered === true) {
      if (barScrolled === true) {
        visStateBarScrolled();
      } else {
        visStateBar();
      }
    }
  });
</script>

<style>
  .searchBarContainer {
    pointer-events: auto;
    grid-row: 1;
  }

  #searchBar {
    background-color: white;
    height: var(--MenuHeight);
    border-radius: calc(var(--MenuHeight) / 5);
    display: flex;
    width: calc(var(--MenuHeight) * 4.4);
    align-items: center;
    padding-inline: calc(var(--MenuHeight) / 6);
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px var(--ShadowGreen));
    transition: width 0.25s;
  }

  #searchBarLogo {
    height: 80%;
    aspect-ratio: 1/1;
    background-image: url("../../logos/sylvanArchiveLogo.svg");
  }

  input {
    all: unset;
    width: 0;
    transform: translateX(calc(var(--MenuHeight) / -8));
    transition: width 0.25s;
    margin-left: calc(var(--MenuHeight) / 4);
  }

  #searchBarTitle {
    font-family: var(--HeadingFont);
    font-size: calc(var(--MenuHeight) / 2);
    white-space: nowrap;
    width: calc(var(--MenuHeight) * 2.8);
    overflow: clip;
    transition: width 0.25s;

  }

  #closeButton {
    all: unset;
    display: none;
    height: 80%;
    aspect-ratio: 1/1;
    place-items: center;
  }

  #closeButton > * {
    width: 80%;
    height: 10%;
    background-color: lightgrey;
    grid-row: 1;
    grid-column: 1;
    align-items: center;
  }

  #closeButton > :nth-child(1) {
    transform: rotate(45deg);
  }
  #closeButton > :nth-child(2) {
    transform: rotate(-45deg);
  }
</style>
