---
import BaseLayout from "../layouts/BaseLayout.astro";
import ShelfScene from "../components/shelfSystem/shelfScene/ShelfScene";
import TestComponent from "../components/testComponent/TestComponent";
const pageTitle = "Sylvan Archive";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="contContainer">
    <ShelfScene client:visible />
  </div>
</BaseLayout>

<style>
  .contContainer {
    display: flex;
    flex-direction: column;
  }
</style>../components/shelfSystem/shelfScene/ShelfScene
