---
import NavCardGrid from "../components/grids/NavCardGrid.astro";
import ZABaseLayout from "../layouts/ZABaseLayout.astro";
import { startSearchingList } from "../scripts/navCardLists";
const pageTitle = "Sylvan Archive";
const NavCardList = startSearchingList;
---

<ZABaseLayout pageTitle={pageTitle}>
  <h1>Main Page</h1>
  <NavCardGrid NavCardList={NavCardList} />
</ZABaseLayout>

<style>
  h1 {
    margin: auto;
  }
</style>
