.popUpContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(-98%);
  pointer-events: none;
  z-index: -2;
}

.popUpCard {
  width: 50%;
  height: 50%;
  transform: translateX(calc(var(--GridCardSize) * 0.23));
  position: absolute;
  transition: transform 0.15s;
  image-rendering: crisp-edges;
}

.popUpContainer > * {
  clip-path: inset(0% round 4% 4% 4% 4%);
  background-size: cover;
  background-position: center;
  image-rendering: crisp-edges;
}
