.popUpContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(-98%);
  pointer-events: none;
  z-index: -2;
}

.popUpCard {
  width: 50%;
  height: 50%;
  transform: translateX(calc(var(--GridCardSize) * 0.23));
  position: absolute;
  transition: transform 0.15s;
}

.popUpContainer > :nth-child(1) {
  background-color: green;
  clip-path: inset(0% round 4% 4% 4% 4%);
  background-size: cover;
  background-position: center;
  background-image: url('https://cards.scryfall.io/png/front/f/2/f29ba16f-c8fb-42fe-aabf-87089cb214a7.png?1673147852');
}
.popUpContainer > :nth-child(2) {
  background-color: blue;
  clip-path: inset(0% round 4% 4% 4% 4%);
  background-size: cover;
  background-position: center;
  background-image: url('https://cards.scryfall.io/png/front/5/2/52042404-12db-4914-bfa0-8249a5942088.png?1674674379');
}
.popUpContainer > :nth-child(3) {
  background-color: purple;
  clip-path: inset(0% round 4% 4% 4% 4%);
  background-size: cover;
  background-position: center;
  background-image: url('https://cards.scryfall.io/png/front/8/b/8bbcfb77-daa1-4ce5-b5f9-48d0a8edbba9.png?1592765148');
}

/* HOVER ANIMATION */

.gridCardBox:hover ~ .popUpContainer > :nth-child(1) {
  transform: translateY(calc(var(--GridCardSize) * -0.1))
    translateX(calc(var(--GridCardSize) * -0.05)) rotate(-18deg);
}

.gridCardBox:hover ~ .popUpContainer > :nth-child(2) {
  transform: translateY(calc(var(--GridCardSize) * -0.17))
    translateX(calc(var(--GridCardSize) * 0.23)) rotate(-1deg);
}

.gridCardBox:hover ~ .popUpContainer > :nth-child(3) {
  transform: translateY(calc(var(--GridCardSize) * -0.1))
    translateX(calc(var(--GridCardSize) * 0.5)) rotate(18deg);
}

.fullGridCard:focus > .popUpContainer > :nth-child(1) {
  transform: translateY(calc(var(--GridCardSize) * -0.1))
    translateX(calc(var(--GridCardSize) * -0.05)) rotate(-18deg);
}

.fullGridCard:focus > .popUpContainer > :nth-child(2) {
  transform: translateY(calc(var(--GridCardSize) * -0.17))
    translateX(calc(var(--GridCardSize) * 0.23)) rotate(-1deg);
}

.fullGridCard:focus > .popUpContainer > :nth-child(3) {
  transform: translateY(calc(var(--GridCardSize) * -0.1))
    translateX(calc(var(--GridCardSize) * 0.5)) rotate(18deg);
}
