---
import GridCard from "./Grid Card/GridCard";
import TestList from "../lists/testList";
---

<div class="groupingGrid">
  {
    TestList.map((gridCard, gridCardIndex) => {
      return (
        <GridCard
          title={gridCard.title}
          displayArt={gridCard.displayArt.cardName}
          mainArtIdentifiers={{
            cardSet: gridCard.displayArt.cardSet,
            cardCollectNum: gridCard.displayArt.cardCollectNum,
            cardFace: gridCard.displayArt.cardFace,
          }}
          client:visible
        />
      );
    })
  }
</div>

<style>
  .groupingGrid {
    display: flex;
  }
</style>
