---
import GridCard from "./gridCard/GridCard";
import TestList from "../lists/testList";
---

<div class="groupingGrid">
  {
    TestList.map((gridCard, gridCardIndex) => {
      const tempBgCardList = gridCard.bgCards?.map((bgCard) => {
        return {
          cardName: bgCard.cardName,
          cardSet: bgCard.cardSet,
          cardCollectNum: bgCard.cardCollectNum,
          cardFace: bgCard.cardFace,
        };
      });
      return (
        <GridCard
          title={gridCard.title}
          displayArt={{
            cardName: gridCard.displayArt.cardName,
            cardSet: gridCard.displayArt?.cardSet,
            cardCollectNum: gridCard.displayArt?.cardCollectNum,
            cardFace: gridCard.displayArt?.cardFace,
          }}
          bgCards={tempBgCardList}
          client:visible
        />
      );
    })
  }
</div>

<style>
  .groupingGrid {
    display: flex;
  }
</style>
