/* Header Menu Styles */

#menu {
  margin: auto;
  display: flex;
  gap: calc(var(--MenuHeight) / 4);
  background-color: rgba(226, 248, 231, 0.5);
  padding: calc(var(--MenuHeight) / 4);
  border-radius: calc(var(--MenuHeight) / 3);
  z-index: -1;
}

@media screen and (max-width: 480px) {
  #menu {
    display: flex;
  }
}

/* Home Button Styles */

.homeButtonContainer {
  pointer-events: auto;
  grid-area: a;
}

#homeButton {
  all: unset;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 0 2px var(--DefaultGreen);
  height: var(--MenuHeight);
  min-width: var(--MenuHeight);
  border-radius: calc(var(--MenuHeight) / 5);
  cursor: pointer;
  transition: width 0.25s;
  display: grid;
  grid-template-columns: var(--MenuHeight) 0;
  grid-template-rows: var(--MenuHeight);
  place-items: center;
}

.homeButtonScrolled {
  background-color: red;
}

#homeButton:focus-within {
  box-shadow: 0 0 0 2px var(--FocusGreen);
}

#homeButtonLogo {
  height: 80%;
  aspect-ratio: 1/1;
  background-image: url('../../logos/sylvanArchiveLogo.svg');
  margin: auto;
  grid-column: 1;
}

#homeButtonTitle {
  font-family: var(--HeadingFont);
  font-size: calc(var(--MenuHeight) / 2);
  white-space: nowrap;
  width: auto;
  transition: width 0.25s;
  padding-left: 2px;
  grid-column: 2;
  visibility: hidden;
}

/* Search Bar Styles */

.searchBarContainer {
  pointer-events: auto;
  display: flex;
  grid-area: b;
}

#searchBar {
  all: unset;
  overflow: hidden;
  background-color: white;
  /* filter: drop-shadow(0px 0px 5px var(--ShadowGreen)); */
  box-shadow: 0 0 0 2px var(--DefaultGreen);
  height: var(--MenuHeight);
  min-width: var(--MenuHeight);
  border-radius: calc(var(--MenuHeight) / 5);
  cursor: pointer;
  transition: width 0.25s;
  display: grid;
  grid-template-columns: var(--MenuHeight) 0 1fr 0;
  grid-template-rows: var(--MenuHeight);
  place-items: center;
}

#searchBar:focus-within {
  box-shadow: 0 0 0 2px var(--FocusGreen);
}

#searchBarLogo {
  height: 70%;
  aspect-ratio: 1/1;
  background-image: url('../../logos/searchIcon.svg');
  grid-column: 1;
}

input {
  all: unset;
  width: 100%;
  padding-left: calc(var(--MenuHeight) * 0.07);
  transition: width 0.25s;
  grid-column: 2;
  font-size: calc(var(--MenuHeight) * 0.32);
  font-family: var(--SubHeadingFont);
  color: grey;
}

#searchCloseButton {
  all: unset;
  display: none;
  height: 80%;
  aspect-ratio: 1/1;
  place-items: center;
  grid-column: 3;
}

#searchCloseButton > * {
  width: 70%;
  height: 10%;
  background-color: lightgrey;
  grid-row: 1;
  grid-column: 1;
  align-items: center;
}

#searchCloseButton > :nth-child(1) {
  transform: rotate(45deg);
}
#searchCloseButton > :nth-child(2) {
  transform: rotate(-45deg);
}

/* Bookmark Bar Styles */

#bookmarkListContainer {
  all: unset;
  z-index: -1;
  visibility: hidden;
  width: calc(100% - (var(--MenuHeight) / 2.5));
  max-height: 20vh;
  position: absolute;
  right: 0;
  transform: translateX(calc(var(--MenuHeight) / -5));
  clip-path: inset(
    0% round 0 0 calc(var(--MenuHeight) / 4) calc(var(--MenuHeight) / 4)
  );
  overflow: hidden;
  overflow-y: auto;
  padding-block: calc(var(--MenuHeight) / 10);
  background-color: white;
  transition: height 0.5s;
}

#bookmarkListContainer::-webkit-scrollbar {
  width: 15px;
}
#bookmarkListContainer::-webkit-scrollbar-thumb {
  background-color: var(--DefaultGreen);
}
#bookmarkListContainer::-webkit-scrollbar-track {
  background-color: white;
}
.bookmarkBarContainer {
  pointer-events: auto;
  grid-area: c;
  position: relative;
}

#bookmarkBar {
  all: unset;
  overflow: hidden;
  background-color: white;
  /* filter: drop-shadow(0px 0px 5px var(--ShadowGreen)); */
  box-shadow: 0 0 0 2px var(--DefaultGreen);
  height: var(--MenuHeight);
  min-width: var(--MenuHeight);
  width: var(--MenuHeight);
  border-radius: calc(var(--MenuHeight) / 5);
  cursor: pointer;
  transition: width 0.25s;
  display: grid;
  grid-template-columns: var(--MenuHeight) 0;
  grid-template-rows: var(--MenuHeight);
  place-items: center;
}

#bookmarkBar:focus-within {
  box-shadow: 0 0 0 2px var(--FocusGreen);
}

#bookmarkBarLogo {
  height: 75%;
  aspect-ratio: 1/1;
  background-image: url('../../logos/bookmarksIcon.svg');
  margin: auto;
  grid-column: 1;
}

#bookmarkDropdown {
  all: unset;
  font-family: var(--HeadingFont);
  font-size: calc(var(--MenuHeight) / 2);
  white-space: nowrap;
  width: auto;
  transition: width 0.25s;
  padding-left: 2px;
  grid-column: 2;
  visibility: hidden;
}

#bookmarkCloseButton {
  all: unset;
  display: none;
  height: 80%;
  aspect-ratio: 1/1;
  place-items: center;
  grid-column: 3;
}

#bookmarkCloseButton > * {
  width: 70%;
  height: 10%;
  background-color: lightgrey;
  grid-row: 1;
  grid-column: 1;
  align-items: center;
}

#bookmarkCloseButton > :nth-child(1) {
  transform: rotate(45deg);
}
#bookmarkCloseButton > :nth-child(2) {
  transform: rotate(-45deg);
}

/* Account Button Styles */

.accountButtonContainer {
  pointer-events: auto;
  grid-area: d;
}

#accountButton {
  all: unset;
  background-color: white;
  height: var(--MenuHeight);
  aspect-ratio: 1/1;
  border-radius: calc(var(--MenuHeight) / 5);
  cursor: pointer;
  display: flex;
  align-items: center;
  /* filter: drop-shadow(0px 0px 5px var(--ShadowGreen)); */
  box-shadow: 0 0 0 2px var(--DefaultGreen);
}

#accountButton:focus-within {
  box-shadow: 0 0 0 2px var(--FocusGreen);
}

#accountButtonLogo {
  height: 75%;
  aspect-ratio: 1/1;
  background-image: url('../../logos/accountIcon.svg');
  margin: auto;
}
