---
import NavCard from "./NavCard.astro";
const { NavCardList } = Astro.props;
---

<div class="navCardGrid">
  {
    NavCardList.map(
      (GenNavCard: {
        title: string;
        subtitle: string;
        imgSrc: string;
        link: string;
      }) => {
        return (
          <NavCard
            title={GenNavCard.title}
            subtitle={GenNavCard.subtitle}
            imgSrc={GenNavCard.imgSrc}
            link={GenNavCard.link}
          />
        );
      }
    )
  }
</div>

<style>
  .navCardGrid {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-inline: auto;
    justify-content: center;
  }
</style>
