---
import "../styles/zaGlobal.css";
import BaseHeader from "../components/layout/BaseHeader.astro";
import BaseFooter from "../components/layout/BaseFooter.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/logos/sylvanArchiveBrowserIcon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sylvan Archive</title>
    <!-- Font imports -->
    <!-- Satisfy -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <!-- Josefin Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <BaseHeader />
    <div class="upperMargin"></div>
    <div id="contentContainer">
      <slot />
    </div>
    <div class="bottomMargin"></div>
  </body>

  <style>

  .upperMargin{
    height:10rem;
  }
    #contentContainer {
      display: flex;
      flex-direction: row;
      /* min-height: 100svh; */
      justify-content: center;
      margin-top: 10rem;
    }

    .bottomMargin {
      height: 100svh;
    }
  </style>

  <script>
    //Add a top margin to the content container when it exceeds the page height
    const contentContainer = document.getElementById(
      "contentContainer"
    ) as HTMLDivElement;
    let contContainHeight = window
      .getComputedStyle(contentContainer)
      .getPropertyValue("height"); //pixel value
    let root = document.documentElement;
    let headerHeightCalc = window
      .getComputedStyle(root)
      .getPropertyValue("--ContContainUpperMargin")
      .split(" "); //rem value
    let headerHeight =
      parseInt(headerHeightCalc[2]) * 16 * parseFloat(headerHeightCalc[4]);
    let windowHeight = window.innerHeight; //number

    if (parseInt(contContainHeight) > windowHeight - headerHeight) {
      contentContainer.style.marginTop = "var(--ContContainUpperMargin)";
    } else {
      contentContainer.style.marginTop = "auto";
    }

    window.addEventListener("resize", () => {
      contContainHeight = window
        .getComputedStyle(contentContainer)
        .getPropertyValue("height");
      windowHeight = window.innerHeight;
      root = document.documentElement;
      headerHeightCalc = window
        .getComputedStyle(root)
        .getPropertyValue("--ContContainUpperMargin")
        .split(" ");
      headerHeight =
        parseInt(headerHeightCalc[2]) * 16 * parseFloat(headerHeightCalc[4]);

      if (window.innerWidth <= 480) {
        contentContainer.style.marginTop = "var(--ContContainUpperMargin)";
      } else if (parseInt(contContainHeight) > windowHeight - headerHeight) {
        contentContainer.style.marginTop = "var(--ContContainUpperMargin)";
      } else {
        contentContainer.style.marginTop = "auto";
      }
    });
  </script>
</html>
