---
import "../styles/zaGlobal.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/logos/sylvanArchiveBrowserIcon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sylvan Archive</title>
    <!-- Font imports -->
    <!-- Satisfy -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <!-- Josefin Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <div id="contentContainer">
      <slot />
    </div>

  </body>

  <style>

    #contentContainer {
      display: flex;
      flex-direction: column;

      justify-content: center;

    }


  </style>

</html>