---
import "../styles/zaGlobal.css";
import HeaderDefault from "../components/layout/HeaderDefault.astro";
import FooterDefault from "../components/layout/FooterDefault.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/logos/sylvanArchiveBrowserIcon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sylvan Archive</title>
    <!-- Font imports -->
    <!-- Satisfy -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap"
      rel="stylesheet"
    />
  </head>

  <div class="gradOverlay"></div>
  <body>
    <HeaderDefault />
    <div class="page">
      <div class="upperMargin"></div>
      <div class="contentContainer">
        <slot />
      </div>
    </div>
  </body>

  <style>
    .gradOverlay {
      position: fixed;
      width: 100svw;
      height: 100svh;
      background: linear-gradient(
        to bottom,
        rgba(41, 163, 94, 0) 80%,
        rgba(41, 163, 94, 0.1) 90%,
        rgba(41, 163, 94, 0.3) 95%,
        rgba(41, 163, 94, 0.7)
      );
      z-index: 5;
      pointer-events: none;
    }
    .page {
      min-height: 100svh;
      display: flex;
      flex-direction: column;
    }

    .upperMargin {
      height: var(--NavCardUpperMargin);
    }
    .contentContainer {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  </style>


</html>
