---
import "../styles/zaGlobal.css";
import HeaderDefault from "../components/layout/HeaderDefault.astro";
import FooterDefault from "../components/layout/FooterDefault.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logos/sylvanArchiveLogo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sylvan Archive</title>
  </head>
  <body>
    <HeaderDefault />
    <div class="pageHeight">
    <slot />
    </div>
    <FooterDefault />
  </body>
</html>

<style>
.pageHeight {
  min-height: calc((100vh - var(--FooterHeight)) - var(--HeaderHeight));
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
</style>
