---
import GridCard from "./Grid Card/GridCard";
---

<div class="groupingGrid">
  <GridCard client:visible />
  <GridCard client:visible />
</div>

<style>
  .groupingGrid {
    display: flex;
  }
</style>
